* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  height:100vh;
  width:100%;
  font-family: sans-serif;
  position:relative;
}
nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  padding:0.5rem;
  height:10vh;
  background:#eee;
}
.bx-shopping-bag {
  font-size:1.5rem;
}
a {
  text-decoration:none;
  color:#000;
}
.pageNotFound {
  text-align: center;
  margin-top:6rem;
}
.backHome {
  display:flex;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top:2rem;
}
.back:hover {
  color:gray;
}
.bx-arrow-back {
  font-size:2rem;
  margin-right:0.5rem;
}
.isLoading,.error {
  text-align:center;
  margin:2rem 0 1rem 0;

}
.products {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  flex-wrap:wrap;
}
.productsTitle {
  text-align:center;
  margin:1rem 0 1rem 0;
}
.productContainer {
  width:300px;
  height:440px;
}
.productImage {
  width:300px;
  height:300px;
}
.productPrice {
  margin:0.5rem 0 0.5rem 0;
}
.productButton {
  text-align:center;
  margin:1rem 0 0 0;
}
.btn {
  padding:8px 20px;
  width:200px;
  font-weight: 700;
  border:1px solid #000;
}
.btn:hover {
  background:#000;
  color:#fff;
}
.cartEmpty {
  text-align:center;
  margin:2rem;
  font-size:30px;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cartTitle {
  text-align:center;
  margin:1rem 0 1rem 0;
}
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive */

@media (max-width: 665px) {
  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar h2 {
    font-size: 30px;
  }

  /* Cart */
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}